<div class="container">
  <div class="row header">
    @if (userName !== '') {
    <h1>Hello, {{ userName }}!</h1>
    } @else {
    <h1>Hello!</h1>
    }
    <select
      class="form-select"
      (change)="userSelected()"
      [formControl]="userForm"
    >
      <option selected>Select User:</option>
      @for (user of allUsers$ | async; track user.name) {
      <option value="{{ user.name }}">{{ user.name }}</option>
      }
    </select>
  </div>
  <div class="row content">
    <div class="col">
      <h2>Favourite Stories</h2>
      <ul class="list-group">
        @for (story of favouritedStories$ | async; track story.title) {
        <li class="list-group-item">{{ story.title }}</li>
        }
      </ul>
    </div>
    <div class="col">
      <h2>Non-Favourited Stories</h2>
      <ul class="list-group">
        @for (story of nonFavouritedStories$ | async; track story.title) {
        <li class="list-group-item">{{ story.title }}</li>
        }
      </ul>
    </div>
  </div>
</div>
